.day-card {
    .card-body {
        padding: 0;
        max-width: 100%;
        min-height: 3rem;
        border: 1px solid rgba(0, 0, 0, .125);
        border-top: none;
        border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px);
    }
}